// = Colors
// -----------------------------

$none:transparent;
$blue:#00a1de;
$green:#00C853;
$yellow:#FBC02D;
$red:mix(#b71c1c,indianred);
$orange: #fda031;

$veniceBlue:#70808e;
$silver:#d2d4d5;
$gray:#6d6c70;

//Overrides bulma
$primary: $orange;
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;


$secondary:$red;

//fonts


@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Rammetto';
    src: url('../fonts/Roboto/RammettoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
$Kanit:'Kanit';
$Roboto: 'Roboto';
$Rammetto: 'Rametto';
$avenirBold: 'Avenir Next LT Pro Bold';
$avenirRegular: 'Avenir Next LT Pro';
$muli:'Muli', sans-serif;
$family-serif: $Kanit;


//Break points
$s:320px;
$m:768px;
$l:1280px;
$xl:1920px;

//Path's
$img:'../images';

$navbar-primary__height:69px;

:root{
  --navbar-primary__height:69px;
  --companyWidth:160px;
  --companyWidthDiv: calc(var(--companyWidth) / 2); 
}
